@font-face {
    font-family: 'CalvinoGrandeItalicVarTrial';
    src: url('CalvinoGrandeItalicVarTrial.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('SuisseIntl-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

